body {
  background-color: #000;
  overflow: hidden;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

svg {
  position: absolute;
  left: 50%;
  margin-top: 0;
  margin-left: -300px;
  width: 600px;
}

.st0{opacity:0.12;fill:url(#reflect_1_);enable-background:new    ;}
  .st1{clip-path:url(#SVGID_2_);fill:url(#bk-water_1_);stroke:url(#bk-water_2_);stroke-miterlimit:10;}
  .st2{opacity:0.4;}
  .st3{clip-path:url(#SVGID_4_);fill:url(#bk-sky_1_);}
  .st4{clip-path:url(#SVGID_6_);}
  .st5{fill:url(#SVGID_7_);stroke:#00FFFF;stroke-miterlimit:10;}
  .st6{fill:url(#SVGID_8_);stroke:#00FFFF;stroke-miterlimit:10;}
  .st7{fill:url(#SVGID_9_);stroke:#00FFFF;stroke-miterlimit:10;}
  .st8{fill:url(#SVGID_10_);stroke:#00FFFF;stroke-miterlimit:10;}
  .st9{fill:url(#SVGID_11_);stroke:#00FFFF;stroke-miterlimit:10;}
  .st10{fill:url(#SVGID_12_);stroke:#00FFFF;stroke-miterlimit:10;}
  .st11{clip-path:url(#SVGID_14_);}
  .st12{fill:#49BCBB;}
  .st13{opacity:0.41;fill:#00FFFF;enable-background:new    ;}
  .st14{fill:#00FFFF;}
  .st15{fill:#1A97DF;}
  .st16{opacity:0.55;fill:#1A97DF;enable-background:new;}
  .st17{fill:#3FA9F5;}
  .st18{opacity:0.29;fill:#93278F;enable-background:new;}
  .st19{opacity:0.29;fill:#6E4A99;enable-background:new;}
